{% extends 'base.html' %}

{% block style %}
    <title>Watcycle | About</title>
{% endblock style %}

{% block body %}
<br><br><br><br><br><br><br><br>
<div class="card text-center w-75 mx-auto">
    <div class="card-body">
      <h3 class="card-title">Hakkında</h3>
      <hr>
      <p class="card-text">Bu site web backend alıştırması olarak yapılmıştır. Flask kullanarak oluşturulan bu saat mağazası web sitesi, kullanıcılara geniş bir saat koleksiyonunu listeleyen bir platform sunar. Uygulama, SQLite veritabanı üzerinde SQLAlchemy kütüphanesini kullanarak saatlerin eklenmesi, silinmesi, aranması ve kullanıcıların kaydedilmesi gibi temel işlemleri gerçekleştirebilir. İşlevleri ve rotaları, ilgili şablon dosyalarıyla birlikte çalışır ve kullanıcılara kullanıcı arabirimi sağlar. Bu kod parçacığını kullanarak bir saat mağazası web uygulamasını oluşturabilir ve özelleştirebilirsiniz.</p>
      <p>Diğer çalışmalarım için GitHub adresime ulaşabilirsiniz:</p>
      <a href="https://github.com/KaganMuslu" target="_blank" class="btn btn-success">GitHub</a>
    </div>
  </div>
<br><br><br><br><br><br><br><br>
{% endblock body %}